{% extends "layout.html" %}
{% block body %}
	<div class="form-group"></div>
	
	<form class="form-horizontal well" role="form" method="post">
		<div class="form-group">
			<label class="col-sm-2 control-label">入眠時間</label>
			<input name="date" type="text" id="datepicker" class="control-label col-sm-offset-1 col-sm-2" data-date-format="yyyy-mm-dd" placeholder="日期">
			<script type="text/javascript">
				$('#datepicker').datepicker();
			</script>

            <br></br>

			<div class="col-sm-offset-2 col-sm-4">
                <input type="text" name="starting_time" id="timepicker1" data-format="hh:mm A" class="form-control" placeholder="幾點 幾分">
                <script type="text/javascript">
                    $(function(){
                        $('#timepicker1').clockface();
                    });
                </script>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">起床時間</label>
			<div class="col-sm-4">
                <input type="text" name="ending_time" id="timepicker2" data-format="hh:mm A" class="form-control" placeholder="幾點 幾分">
                <script type="text/javascript">
                    $(function(){
                        $('#timepicker2').clockface();
                    });
                </script>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">睡眠品質</label>
			<div class="col-sm-4">
				<select name="adjust_minute" class="form-control">
					<option value="0">正常</option>
					<option value="10">輕微輾轉</option>
					<option value="20">難以入眠</option>
					<option value="20">時睡時醒</option>
				</select>
			</div>
		</div>
		
        <div class="col-sm-offset-1 col-sm-2">
            <button class="btn btn-info btn-lg btn-block" type="button" onClick="location.href='../'">回上層</button>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-primary btn-lg btn-block" type="button" onClick="submit()">新增一筆</button>
        </div>
	</form>
{% endblock %}
