<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

	<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>

	<title>Sleep Recorder</title>
</head>

<body>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
</body>

</html>
